*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main{
    width: 80%;
    background-color: aqua;
    margin: auto;
    /* flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body{
    background-image: url(imagenes/fondo3.jpg);
}

header{
    width: 100%;
    background-color: #00b0f2;
    padding: 20px;
    /* flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    width: 100px;
    vertical-align: middle;
}

#logo a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#menu1{
    width: 50%;
    background-color: beige;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu1 a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
}

#menu1 a:hover{
    background-color: beige;
    color:black
}

article{
    background-color: white;
    padding: 20px;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
}

.contenido{
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
}

aside{
    background-color: black;
    padding: 20px;
    /*flex padre*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
}

.publicidad{
    background-color: #00b0f2;
    height: 150px;
    margin: 10px;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
}

footer{
    width: 100%;
    background-color: #00b0f2;
    padding: 20px;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu2, #menu3{
    background-color: black;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu2 a, #menu3 a{
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink: 1;
}

#menu2 a:hover, #menu3 a:hover{
    background-color: beige;
    color: black;
}


/* PARA TABLET */

@media screen and (max-width:1000px)  /* metodo 1 */
{
    main{
        flex-direction: column;
    }

    header{
        flex-direction: column;
        padding: 0;
    }

    #menu1{
        width: 100%;
    }

    footer{
        justify-content: center;
    }

    aside{
        flex-direction: row;
    }
}

@media (max-width:600px)             /* metodo 2 */
{
    aside{
        flex-direction: column;
    }
}